.card{
  border-radius: 4px;
  /* background: #fff; */
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
/* padding: 0; */
cursor: pointer;
}

.card:hover{
transform: scale(1.05);
/* box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); */
box-shadow: 0 0 4em 0px rgba(0, 0, 0, 0.4);
}

.igor {
  opacity: 0.13;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  font-size: 150%;

   /* font-style: italic; */
  /* font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
    font-size: smaller;
    border-radius: 10px ;
    border-style: solid;
    border-color: #E92D2D;
    font-style: italic;
    font-weight: 300;
    text-decoration: none;
    height: 30px;
    padding-left: 4px; */
}

p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
   font-style: italic;
   font-size: 150%;

}
