* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #eee;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Martel', serif;
    /* overflow: hidden; */
   
 
  }
 

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    /* height: 400px; */
  }
  
  @media (max-width: 768px) {
    .swiper-slide {
      width: 250px;
      height: auto;
    }
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .container-fluid {
    position: relative;
    width: 100vw;
    height: 40vh;
    background-color: #000;
    display: block;
  }

  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15vw;
  }
  
  @media (max-width: 768px) {
    .container-fluid {
      margin-bottom: 35vw;
    }
  }
  
  .container .swiper-container {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -16vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2;
    padding-bottom: 3vw;
  }
  
  @media (max-width: 768px) {
    .container .swiper-container {
      bottom: -58vw;
      padding-bottom: 8vw;
    }
  }
  
  .title_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 4px;
  
  }
  
  @media (max-width: 768px) {
    .title_wrapper {
      padding-top: 13vw;
    }
  }
  
  .title_wrapper .soonimg {
    width: 5vw;
    height: 5vw;
    margin-right: 1vw;
  }
  
  @media (max-width: 768px) {
    .title_wrapper .soonimg {
      width: 25vw;
      height: 25vw;
    }
  }
  
  .title_wrapper .soonimg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .title_wrapper .title_ {
    color: #fff;
    text-align: left;
    font-size: 2vw;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: italic;
    border-radius: 10px ;
    border-style: solid;
    border-color: #E92D2D;
    /* background-color: #E92D2D; */
    /* margin-top: 10px ; */
    /* width: 50%; */
    align-items: center;
    padding: 10px;
    
    /* color: aqua; */
  }
  
  @media (max-width: 768px) {
    .title_wrapper .title_ {
      font-size: 7vw;
      
    }
  }
  
  .title_wrapper .title_ span {
    display: block;
  }

  .swiper-pagination {
    position: relative;
    margin-top: 10px;
  }
  
  .swiper-pagination-fraction {
    bottom: 0;
  }
  
  .swiper-pagination-bullet {
    width: 25px;
    height: 5px;
    border-radius: 5px;
  }
