body {
  margin: 0;
  /* font-family: 'Oxygen',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

/* #font1 {
  font-family: 'Oxygen',
  
} */


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Oxygen' 'Courier New',
    monospace;
} */
