body{

    /* background-color: rgb(186, 255, 47); */
}

#homepagepractice{

    background-color: rgba(255, 255, 255, 0.4);
    width: 80%;
    text-align: center;
    height: 100px;
    border-radius: 15px;
    margin: auto;
    margin-top: 1ch;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


